<!DOCTYPE html>
<html>
  <head>
    <title>MoofieApp</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'moofie_app' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
